ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

li {
	background: tomato;
	line-height: 150px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}

.my-item {
	padding: 5px;
	margin-top: 10px;
	width: 200px;
	height: 150px;
}